/* header part */

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

 .size-one{
    font-size: 13px;
    color: rgb(122, 122, 122);
 }

#mainh1 {
    font-size: 43px;
}

.maindiv {
    padding: 120px 150px;
     

}

.divbackground {
    background-color: rgb(241, 227, 232);
    display: flex;
    height: 580px;


}

.common {
    background-color: #E55473;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    border: 1px solid #E55473;
}

#picture {
    height: 555px;
    width: 500px;
    padding-top: 25px;
    padding-right: 90px;

}

/* Main section */


.secenddivbackground {
    background-color: antiquewhite;
    margin-top: 100px;
    display: flex;
    text-align: center;
    padding-bottom: 50px;


}

#pading1 {
    padding-bottom: 20px;
}




.forpadding {
    padding-top: 150px;
    padding-left: 230px;
    text-align: center;

}

#picturepng {
    /* padding-right: 100px; */
    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 100px;
    height: 280px;
}

#aline {
    align-items: center;
}
/* main first */

.div-zero{
    text-align: center;
    margin-top: 100px;
}
.fourzero{
    margin-top: 50px;
    display: flex;
     justify-content: center;
     gap: 20px;
}
.text-size{
    font-size: 12px;
     
}
.box1{
    background-color:rgb(242, 223, 230);
    height: 300px;
    width:250px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding: 30px 20px 1px 20px;
}
.box2{
    background-color:rgb(210, 228, 231);
    height: 300px;
    width:250px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding: 30px 20px 1px 20px;
}
.box3{
    background-color:rgb(233, 234, 215);
    height: 300px;
    width:250px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding: 30px 20px 1px 20px;
}

.flower-name{
    text-align: center;
    text-decoration: underline;

}


/* main secend section */
.main-one{
    width: 75%;

    margin: 60px auto;

}


.divthr {
   

    margin-top: 130px;
    text-align: center;

}

/* 2 ta secton a margin */

.bordermargin {
    margin: 50px 100px;
}



.fourdiv {

    display: flex;
    justify-content: center;
    /* margin: 60px 140px; */


     gap: 42px;
    

}

#imagemargin {
    /* margin: 20px 23px; */
}



#box {
    margin: 0px;
    height: 280px;
    width:200px;
}


/* main four part */
.main-four{
    width: 75%;
margin: 60px auto;

}


.fifthdiv {
    background-image: url('../flower-shop-assignment/Rectangle\ 9.png');
    padding: 40px 0px;
    background-size:cover ;
    background-repeat: no-repeat;
   

}

#font {
    font-size: 30px;
    padding-bottom: 0px;
    text-align: center;

}

.from {
    padding: 50px 0px;
    text-align: center;

}

.mailbox {
    padding: 10px 150px 10px 5px;
    border-radius: 5px;
    border: 1px solid white;
    text-align: left;
}

#cupon {
    color: black;
    text-align: center;

}

#fromtoo {

    margin: 50px 5px;
    border: 100px solid black;
    padding: 100px;
}

/* .smallto{
    padding-top: 45px;
} */

.paddingfifth {
    text-align: center;


}

     /* section six */

/* .login-center{

} */

.centerdiv{
    margin: 100px 150px;
    text-align: center;
}

.login{
    margin-left:30px ;
     border-color: none;
      padding: 5px; 
}

.login-two{
margin-left: 43px;
font-size: 18px;

 

} 
.signup{
    padding-bottom: 20px;
}
.log-two{
    margin-left: 33px;
    padding: 5px; 
    font: 19px;
     
}

.log-two1{
    font-size: 20px;
}
.delivery{
      text-align: center; 
      background-color: rgb(190, 191, 214);
      margin: 100px 150px;
}
.delivery-one{
    text-decoration: underline;
    padding-top: 50px;
}


/* Footer sector */


#footerpadding {}

.black {
    margin-top: 80px;

    padding: 70px 0px;
    background-color: black;
    color: white;
    text-align: center;
}

span {
    color: #E55473;
}

#textcolor {
    color: darkgray;
}